atomicwrites==1.2.1
attrs==18.2.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
coverage==4.5.2
Django==2.1.4
djangorestframework==3.9.0
djangorestframework-simplejwt==3.3
drf-yasg==1.12.1
ez-setup==0.9
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
mysqlclient==1.3.14
openapi-codec==1.3.2
pluggy==0.8.0
py==1.7.0
PyJWT==1.7.1
pytest==4.0.2
pytest-cov==2.6.0
pytest-django==3.4.4
pytz==2018.7
requests==2.21.0
ruamel.yaml==0.15.82
simplejson==3.16.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.24.1
